<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LigaFutbolRegional.My.MySettings.CampeonatoConnectionString"
            connectionString="Data Source=DESKTOP-HQ9HGAN;Initial Catalog=Campeonato;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LigaFutbolRegional.My.MySettings.CampeonatoPavConnectionString"
            connectionString="Data Source=DESKTOP-HQ9HGAN;Initial Catalog=CampeonatoPav;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>